@font-face{
    font-family: roboto-bold;
    src: url(roboto/Roboto-Bold.ttf);
}
@font-face{
    font-family: roboto-medium;
    src: url(roboto/Roboto-Medium.ttf);
    font-weight: medium;
}
@font-face{
    font-family: roboto;
    src: url(roboto/Roboto-Regular.ttf);
}
* {
    font-family: roboto;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* navbar start */
.navbar-content {
  background-color: rgb(36, 36, 36);
  width: 100%;
  list-style-type: none;
  position: fixed;
  z-index: 1;
}
.logo {
    display: block;
    position: absolute;
    top: 26px;
    left: 5%;
    cursor: pointer;
}
.nav-button { 
    display: inline-block;
    margin-right: -4px;
}
.home {
    padding: 18px 10px;
    background-color: rgb(237, 28, 36);
}
.spacing {
    position: relative;
    left: 51.5%;
}
li a {
  font-family: roboto-bold;
  font-size: 18px;
  padding: 25px 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  display: block;

}
li a:hover {
    padding: 18px 10px;
    background-color: rgb(237, 28, 36);
}
/* navbar end */

/* section-1 start */

.bg {
    height: 552px;
    width: 100%;
    background: linear-gradient(120deg, rgba(61,61,58,1) 0%, rgba(200,201,160,1) 91%);
    position: relative;
    top: 71px;
    overflow: hidden;
}
.main-text {
    position: absolute;
    left: 5.5%;
    top: 20%;
}
.text-1-s1 {
    font-family: roboto-medium;
    font-size: 48.05px;
    color: white;
    line-height: 50px;
    margin-left: -1%;
}
.text-2-s1 {
   font-size: 24.05px;
   color: white;
   margin-top: 2%;
}
.read-button1 {
    position: absolute;
    left: 5.5%;
    top: 80%;
}
.button-1 {
    font-family: roboto-bold;
    font-size: 24.05px;
    text-transform: uppercase;
    padding: 13px 30px;
    color: white;
    background-color: rgb(237, 28, 36);
    border: none;
    cursor: pointer;
}
.labour-1 {
    position: absolute;
    left: 61%;
}
/* section-1 ends */

/*section-2 start*/

.bg-2 {
    height: 437px;
    width: 100%;
    background: white;
    position: relative;
    top: 72px;
    overflow: hidden;
}
.labours {
    width: 50%;
    height: 437px;
}
.about {
    position: absolute;
    left: 60%;
    top: 9%;
}
.text-1-s2 {
    font-family: roboto-bold;
    font-size: 38.05px;
}
.text-2-s2 {
    font-size: 24.05px;
    margin-top: 1%;
    line-height: 22px;
}
.text-3-s2 {
    font-size: 24.05px;
    margin-top: 8%;

}
.read-button2 {
    position: absolute;
    left: 60%;
    top: 80%;
    cursor: pointer;
}
.button-2 {
    font-family: roboto-bold;
    font-size: 24.05px;
    text-transform: uppercase;
    padding: 8px 25px;
    color: rgb(237, 28, 36);
    background-color: white;
    border: 5px solid rgb(237, 28, 36);
    cursor: pointer;
    
}
.button-2:hover {
    font-family: roboto-bold;
    font-size: 24.05px;
    text-transform: uppercase;
    padding: 13px 30px;
    color: white;
    background-color: rgb(237, 28, 36);
    border: none;
}
/* section 2 ends */

/* section 3 starts */
    
.bg-3 {
    position: relative;
    margin-top: 72px;
}
.wood-strip {
    width: 100%;
    height: 738.66px;
    position: absolute;
}
.service {
    position: absolute;
    width: 100%;
    top: 45px;
}
.border-bottom {
    padding-bottom: 3px;
    border-bottom: 8px solid rgb(237, 28, 36);
}
.services {
    font-family: roboto-medium;
    font-size: 47.02px;
    color: white;
    text-align: center;  
}
/* picture left start */
.picture-text-left {
    position: absolute;
    left: 0px;
}
.pic-text-1 {
    width: 290px;
    height: 218px;
}
.pic1-text1 {
    font-size: 19.52px;
    color: white;
}
.pic1-text2 {
    font-size: 15.52px;
    color: white;
    line-height: 19.5px;
    margin-top: 8%;
}
.pic1-text3 {
    font-size: 18.52px;
    color: rgb(237, 28, 36);
    margin-top: 8%;
}

/* picture left end */

/* picture middle start */
.picture-text-middle {
    position: absolute;
    left: 330px;
}
.pic-text-2 {
    width: 290px;
    height: 218px;
}
.pic2-text1 {
    font-size: 19.52px;
    color: white;
}
.pic2-text2 {
    font-size: 15.52px;
    color: white;
    line-height: 19.5px;
    margin-top: 8%;
}
.pic2-text3 {
    font-size: 18.52px;
    color: rgb(237, 28, 36);
    margin-top: 8%;
}
/* picture middle ends */

/* picture right starts */

.picture-text-right {
    position: absolute;
    right: 0px;
}
.pic-text-3 {
    width: 290px;
    height: 218px;
}
.pic3-text1 {
    font-size: 19.52px;
    color: white;
}
.pic3-text2 {
    font-size: 15.52px;
    color: white;
    line-height: 19.5px;
    margin-top: 8%;
}
.pic3-text3 {
    font-size: 18.52px;
    color: rgb(237, 28, 36);
    margin-top: 8%;
}
/* positioning pictures */

.pictures-text {
    position: relative;
    top: 163px;
    width: 950px;
    margin: auto;
}

/* positioning done */

.view-button {
    position: absolute;
    width: 100%;
    cursor: pointer;
    top: 600px;
}
.view-button1 {
    font-family: roboto-bold;
    font-size: 24.05px;
    text-transform: uppercase;
    padding: 8px 25px;
    color: white;
    background-color: transparent;
    border: 5px solid rgb(237, 28, 36);
    cursor: pointer;  
    display: block;
    margin: auto;
}

.view-button1:hover {
    font-family: roboto-bold;
    font-size: 24.05px;
    text-transform: uppercase;
    padding: 13px 30px;
    color: white;
    background-color: rgb(237, 28, 36);
    border: none;
}
/* section3 ends */

/*section 4 starts */

.bg-4 {
    position: relative;
    margin: 810.44px 0px 0px 0px;
    width: 100%; 
    height: 430px;

}

.run-man {
    position: absolute;
    width: 33.33%;
    height: 430px;
    left: 0px;
    background-color: rgb(182, 16, 22);
}
.man {
    height: 94.98px;
    width: 70px;
    margin: 25px auto 0px auto;
    display: block;
}
.mission {
    font-family: roboto-bold;
    font-size: 31.05px;
    color: white;
    text-align: center;
    margin-top: 10px;
}
.mission-text {
    font-size: 23.05;
    line-height: 28px;
    text-align: center;
    margin: auto;
    color: white;
    width: 80%;
    margin-top: 5px;
}
.readmore-runman {
    font-family: roboto-bold;
    font-size: 24.05px;
    text-transform: uppercase;
    padding: 8px 25px;
    color: white;
    background-color: transparent;
    border: 5px solid white;
    cursor: pointer;  
    display: block;
    margin: auto;
    margin-top: 10px;
}
.readmore-runman:hover {
    font-family: roboto-bold;
    font-size: 24.05px;
    text-transform: uppercase;
    padding: 13px 30px;
    color: rgb(182, 16, 22);
    background-color: white;
    border: none;
}
/* run-man end */

/*bulb start */

.bulb-light {
    position: absolute;
    width: 33.34%;
    height: 430px;
    left: 33.33%;
    background-color: rgb(255, 70, 77);
}
.bulb {
    height: 95.03px;
    width: 53.97px;
    margin: 25px auto 0px auto;
    display: block;
}
.experience {
    font-family: roboto-bold;
    font-size: 31.05px;
    color: white;
    text-align: center;
    margin-top: 10px;
}
.experience-text {
    font-size: 23.05;
    line-height: 28px;
    text-align: center;
    margin: auto;
    color: white;
    width: 80%;
    margin-top: 5px;
}
.readmore-bulb {
    font-family: roboto-bold;
    font-size: 24.05px;
    text-transform: uppercase;
    padding: 8px 25px;
    color: white;
    background-color: transparent;
    border: 5px solid white;
    cursor: pointer;  
    display: block;
    margin: auto;
    margin-top: 10px;
}
.readmore-bulb:hover {
    font-family: roboto-bold;
    font-size: 24.05px;
    text-transform: uppercase;
    padding: 13px 30px;
    color: rgb(255, 70, 77);
    background-color: white;
    border: none;
}
/* bulb section end */

/* star section start */

.star-light {
    position: absolute;
    width: 33.33%;
    height: 430px;
    left: 66.67%;
    background-color: rgb(182, 16, 22);
}
.star {
    height: 94px;
    width: 98.99px;
    margin: 25px auto 0px auto;
    display: block;
}
.reviews {
    font-family: roboto-bold;
    font-size: 31.05px;
    color: white;
    text-align: center;
    margin-top: 10px;
}
.reviews-text {
    font-size: 23.05;
    line-height: 28px;
    text-align: center;
    margin: auto;
    color: white;
    width: 80%;
    margin-top: 5px;
}
.readmore-star {
    font-family: roboto-bold;
    font-size: 24.05px;
    text-transform: uppercase;
    padding: 8px 25px;
    color: white;
    background-color: transparent;
    border: 5px solid white;
    cursor: pointer;  
    display: block;
    margin: auto;
    margin-top: 10px;
}
.readmore-star:hover {
    font-family: roboto-bold;
    font-size: 24.05px;
    text-transform: uppercase;
    padding: 13px 30px;
    color: rgb(182, 16, 22);
    background-color: white;
    border: none;
}
/* section 4 ends */

/* section 5 starts */

.bg-5 {
    position: relative;
    margin-top: 0px;
    width: 100%;
    height: 209px;
    background: white;
}
.sec-5-achievements {
    position: relative;
    margin: auto;
    width: 945px;
    bottom: -26%;
}
.achievements {
    position: absolute;
}
.achieve {
    display: inline-block;
    text-align: center;
    padding: 0px 50px;
}
.number-achieve {
    font-family: roboto-bold;
    font-size: 51.05px;
}
.text-achieve {
    font-size: 26.05px;
}
/* section 5 ends */

/* section 6 starts */

.bg-6{
    position: relative;
    width: 100%;
    height: 352px;
}
img[class^="sec6"] {
    float: left;
    width: 25%;
    height: 352px;
}
.column-1{
    width: 100%;
}
.year-2016 {
    position: absolute;
    left: 8.33%;
    top: 7%;
    font-family: roboto-bold;
    font-size: 48px;
    color: white;
}
.year-2018 {
    position: absolute;
    left: 58.33%;
    top: 7%;
    font-family: roboto-bold;
    font-size: 48px;
    color: white;
}
.year-2019 {
    position: absolute;
    left: 83.33%;
    top: 7%;
    font-family: roboto-bold;
    font-size: 48px;
    color: white;
}
/* section 6 ends */

/* section 7 starts */

.bg-7 {
    position: relative;
    width: 100%;
    height: 284px;
    background-color: #838383;
}

/* august start */

.august-content {
    width: 25%;
    position: absolute;
    border-top: 6px solid black;
    padding: 2% 5% 0px 0px;
}
.august15{
    font-family: roboto-medium;
    font-size: 26px;
    color: white;
    margin-left: 2%;
}
.august15-text {
    font-size: 13px;
    color: white;
    margin-top: 2px;
    line-height: 16px;
    margin-left: 2%;
}
/* august end */

/* may start */

.may-content {
    width: 25%;
    position: absolute;
    left: 25%;
    border-top: 6px solid rgb(237, 28, 36);
    padding: 2% 5% 0px 0px;

}
.may17{
    font-family: roboto-medium;
    font-size: 26px;
    color: white;
    margin-left: 2%;
}
.may17-text {
    font-size: 13px;
    color: white;
    margin-top: 2px;
    line-height: 16px;
    margin-left: 2%;
}
/* may end */

/* october start */

.october-content {
    width: 25%;
    position: absolute;
    left: 50%;
    border-top: 6px solid black;
    padding: 2% 5% 0px 0px;

}
.october16 {
    font-family: roboto-medium;
    font-size: 26px;
    color: white;
    margin-left: 2%;
}
.october16-text{
    font-size: 13px;
    color: white;
    margin-top: 2px;
    line-height: 16px;
    margin-left: 2%;
}
/* october end */

/* march start */

.march-content {
    position: absolute;
    left: 75%;
    border-top: 6px solid black;
    padding: 2% 5% 0px 0px;
    width: 25%;

}
.march19 {
    font-family: roboto-medium;
    font-size: 24px;
    color: white;
    margin-left: 2%;
}
.march19-text {
    font-size: 13px;
    color: white;
    margin-top: 2px;
    line-height: 16px;
    margin-left: 2%;
}
.all-years {
    width: 92%;
    margin: auto;
    position: relative;
    background-color: rgba(0, 0, 255, 0.363);
    top: 18%;
}

/* section 7 ends */

/* footer starts */

.bg-footer {
    height: 60px;
    width: 100%;
    background-color: rgb(237, 28, 36);
    position: relative;
}
.content {
    width: 92%;
    position: relative;
    margin: auto;
    top

}
.copyright {
    font-family: roboto-medium;
    font-size: 18.17px;
    color: white;
    position: absolute;
    left: 0px;
    padding: 19.5px 0px;
}
.boxes-footer {
    font-size: 24.76px;
    color:white;
    position: absolute;
    right: 0px;
    padding: 15px 0px;

}